h1{

	font-family: courier;
	
	color: deeppink;

	font-size: 40px;
}

h2{

	font-family: courier;
	color: hotpink;
	font-size: 20px;


}

a {
	font-family: courier, serif;
	font-size: 10px;
	color: salmon;
}

a:hover {
	color: darkgray;
}

a:active {
	color: white;
}
