h1{

	font-family: courier;
	
	color: darkred;

	font-size: 50px;
}

h2{

	font-family: courier;
	color: crimson;
	font-size: 30px;


}

a {
	font-family: courier, serif;
	font-size: 20px;
	color: darkorange;
}

a:hover {
	color: darkgray;
}

a:active {
	color: white;
}
