h1 {

			font-family: "didot", baskerville, serif;
			text-align: center;
			color: tomato;
		}

		p {
			font-family: "courier", monospace;
			text-align: center;

			color: darkGray;

		}

		.bottom {
			color: lightSalmon;
		}

		a {
			color: lightSalmon;
		}

		a:hover {
			color: red;
		}

		a:active {
			color: gold;
		}

		.byline {
			color: darkGray; background: aliceBlue;
		}